td {
  padding: 7px;
  background-color: getRandomColor();
  -webkit-border-radius: 10px 10px;
          border-radius: 10px/10px;
}

.dead {
  background-color:white;
}

table {
  border-collapse:collapse;
}